<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <!-- link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oleo+Script" -->
    <link rel="stylesheet" type="text/css" href="{{ "/assets/main.css" | relative_url }}">
  </head>
  <body>
  <h1 class="header">{{ page.header }}</h1>
    <div class="content">
<!-- begin main content -->
{{ content }}
<!-- end main content -->
    </div>
  </body>
</html>
